.App {
  max-width: 600px;
  margin: 20px auto;
}

body {
  font-family: "Google Sans", arial, sans-serif;
}

h1 {
  color: rgb(12, 30, 84);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(11, 104, 104);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgb(11, 104, 104);
}

.App footer {
  font-size: 14px;
  margin-top: 10px;
}
